[Desktop Entry]
Type=DUIApplet
Name=SocialWebApplet
Icon=
Exec=
X-translation-catalog=libsocialwebapplet.so

[DUI]
X-DUIApplet-Applet=libsocialwebapplet.so
#X-DUIApplet-ImageLandscape=Widget_landscape_weather.png
#X-DUIApplet-ImagePortrait=Widget_portrait_weather.png

[DCP]
#Category=Accounts & Applications
#Order=3
Category=Applications
Order=6
